# Keil MDK build outputs
Objects/
Listings/
*.uvguix.*
*.uvoptx
*.scvd
*.dbgconf
JLinkLog.txt
*.bin

# Compiled objects
*.o
*.d
*.crf
*.axf
*.hex
*.lnp
*.dep
*.htm
*.build_log.htm

# IDE
.vscode/
.idea/
.sixth/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Misc
*.tmp
*.bak
